<div class="genie-box col-xs-6 col-xs-offset-3 text center">

<!-- headline two - formats font automatically so it looks appropriate -->
<h2>
Share Your Travel Adventure
</h2>

<%= simple_form_for @post do |f| %>

	<br/>
	<%= f.input :title, label: 'Headline', placeholder: 'ex: On Top of Mt. Fuji' %>
	<br/>
	<%= f.input :description, label: 'Caption', placeholder: 'ex: What an amazing trip!' %>
	<br/>
	<%= f.input :image, label: 'Image' %>
	<br/>
	<%= f.button :submit, :class => 'btn btn-primary' %>

<% end %> 